.episodes-list {
	margin: 3rem 0;

	.episode-card {
		background: $dark;
		border: 1px solid $primary-grey;
		box-shadow: 4px 4px 0 0 $primary-grey;
		display: block;
		margin: 0 0 2.5rem;
		padding: 2rem;
		position: relative;
		transition: all 0.3s;
		text-decoration: none;

		@include tablet {
			padding: 3rem 1.5rem 2rem;
		}

		.episode-number {
			background: $primary-color;
			color: $light;
			display: inline-block;
			font-family: $display-font;
			padding: 0.5rem 1rem;
			position: absolute;
			right: 1rem;
			top: -1rem;
		}

		.episode-title {
			color: $secondary-color;
			font-family: $display-font;
			font-size: 1.5rem;
			letter-spacing: 0.09rem;
			line-height: 1;
			margin: 0 0 1rem;
			text-transform: uppercase;
			transition: all 0.3s;
		}

		.episode-date {
			color: $light;
			margin: 0;
		}

		&:after {
			align-items: flex-end;
			color: $light;
			content: 'Ver info del episodio';
			display: flex;
			font-size: 1.75rem;
			font-weight: bold;
			height: 100%;
			opacity: 0;
			padding-bottom: 1rem;
			position: absolute;
			right: 0;
			top: 0;
			transition: 0.4s;
			user-select: none;

			@include tablet {
				content: none;
			}
		}

		&:hover {
			background: $grey-800;
			border-color: $primary-color;
			box-shadow: 4px 4px 0 0 $primary-color;

			.episode-title {
				color: $secondary-grey;
			}

			&:after {
				right: 2rem;
				opacity: 0.5;
			}
		}
	}

	&.daily {
		display: none;
	}
}
