.hero {
	background: $secondary-grey url('../images/flor-y-calu.jpg') no-repeat center / cover;
	background-blend-mode: luminosity;
	padding: 3rem 0;

	.lead {
		font-size: 1.5rem;
		line-height: 1.7;
		text-shadow: 0 0 5px rgba(black, 0.75);

		@include tablet {
			font-size: 1.25rem;
			line-height: 1.5;
		}

		a {
			color: $light;
			position: relative;
			text-decoration: none;
			transition: all 0.3s;

			&:after {
				background: $secondary-color;
				bottom: -3px;
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:hover {
				color: $secondary-color;
			}
		}
	}

	small:before {
		background: $primary-color;
		content: '';
		display: inline-flex;
		height: 1px;
		margin-right: 1rem;
		transform: translateY(-3px);
		width: 30px;
	}
}
